# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj
*.vcxproj.filters
*.sln

# Build results
Debug/
Release/
x64/
x86/
[Dd]ebug/
[Rr]elease/
*.exe
*.dll
*.pdb
*.ilk
*.obj
*.tlog
*.log
*.idb
*.lastbuildstate

# Compiled shader files
*.cso

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build folders
[Bb]in/
[Oo]bj/

# Others
*.cache
*.ilk
*.meta
*.cachefile
*.VC.db
*.VC.VC.opendb

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
